.app-header {
  background: white;
  color: white;
  padding: 1rem 0 1rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.app-header h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
